apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  labels:
    environment: dev
spec:
  project: devops
  source:
    path: devops/cert-manager
    repoURL: 'https://github.com/gpscarvell/demo.git'
    targetRevision: HEAD
    helm:
      valueFiles: [values-dev.yaml]
  destination:
    namespace: cert-manager
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated: {}