apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: secret-store
spec:
  destination:
    server: 'https://kubernetes.default.svc'  
    namespace: default
  project: devops         
  source:
    repoURL: 'https://github.com/gpscarvell/demo.git'
    targetRevision: main    
    path: charts-k8/devops/secret-store/dev
  syncPolicy:
    automated:
      prune: true            
    syncOptions:
      - CreateNamespace=true   
